/* Menu types */
.menu-left {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

/* Menu Toggle styles */
.menu-left .nav-toggle,
.menu-left-active .nav-toggle {
  left: 10px;
  top: 10px;
}

.menu-right .nav-toggle,
.menu-right-active .nav-toggle {
  right: 0;
  top: 0;
}

.menu-mini .nav-toggle,
.menu-mini-active .nav-toggle {
  top: 0;
  right: 0;
}

.nav-toggle {
  position: absolute;
  z-index: 6;
}

.nav-toggle__img {
  position: relative;
  width: 50px;
  height: 50px;
}

.nav-toggle__img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* Menu Toggle animations */
.nav-toggle__bar {
  display: block;
  width: 40px;
  height: 5px;
  margin: 0 0 5px 0;
  background-color: black;
}

.menu-active .nav-toggle-x .nav-toggle__bar {
}

/* Nav Styles */
.nav {
  width: 200px;
  height: 100%;
  position: absolute;
  z-index: 5;
}

/* Nav animations */
.menu-left .nav {
  top: 0;
  left: -200px;
  padding: 60px 0 0 0;
  transition: left 0.5s ease-out;
  background-color: #232323;
}

.menu-left-active .nav {
  top: 0;
  left: 0;
  padding: 60px 0 0 0;
  transition: left 0.5s ease-out;
  background-color: #232323;
}

.menu-right .nav {
  top: 0;
  right: -200px;
  padding: 60px 0 0 0;
  transition: right 0.5s ease-out;
  background-color: #232323;
}

.menu-right-active .nav {
  top: 0;
  right: 0;
  padding: 60px 0 0 0;
  transition: right 0.5s ease-out;
  background-color: #232323;
}

.menu-mini .nav {
  display: none;
}

.menu-mini-active .nav {
  height: auto; /* Reset height for smaller nav */
  top: 60px;
  right: 0;
  background-color: #232323;
  border-radius: 5px;
  margin: 0 0.3em;
}

/* Link list styles */
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

.nav-list li a:hover {
  color: blue;
}

.layout-night .nav-list li a:hover {
  color: #1abc9c;
}

@media only screen and (min-width: 600px) {
  .menu {
    position: relative;
  }

  .menu-collapsable .nav {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .menu-collapsable .nav-list li {
    display: inline-block;
    padding: 0 1em;
  }

  .menu-left .nav,
  .menu-left-active .nav {
    padding: 0;
    left: 0;
    background: transparent;
    transition: none;
  }

  .menu-collapsable .nav-toggle {
    display: none;
  }
}
