.track {
  display: -webkit-box;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  text-align: left;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
}

.track:hover {
  cursor: pointer;
}

.track__image {
  margin: 0 20px;
}

.track__cover {
  width: 40px;
}

.track__cover--full {
  width: 90%;
  margin: 0 auto;
}

.track__cover--interactive:hover {
  /* background-color: grey; */
  opacity: 0.2;
  cursor: pointer;
}

.track .track-info {
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.track-info__title {
  margin: 0;
  color: #000000;
}

.layout-night .track-info__title {
  color: #ffffff;
}

.track--playing .track-info__title {
  color: #2dd760;
}

.track-info__author {
  text-decoration: none;
  color: rgb(96, 96, 96);
}

.layout-night .track-info__author {
  color: #c8cadc;
}

.track-info__author:hover {
  color: black;
}

.layout-night .track-info__author:hover {
  color: #ffffff;
}

.track__controls {
  padding-right: 10px;
}

.track__play {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-color: #efefef;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
}

.layout-night .track__play {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.track:hover .track__play,
.track--playing .track__play {
  background-color: #2dd760;
}

.track__explicit {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  color: black;
  font-size: 12px;
}

@media only screen and (min-width: 600px) {
  .track__controls {
    display: block;
  }
}
