.track {
  display: -webkit-box;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  padding: 0 0.8em;
  text-align: left;
  align-items: center;
}

.track:hover {
  cursor: pointer;
}

.track__controls {
  display: none;
  padding-right: 10px;
  opacity: 0;
}

.track:hover .track__controls {
  opacity: 1;
}

.track .track-info {
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.track__image {
  margin: 0 5px;
}

.track__cover {
  width: 40px;
}

.track__cover--full {
  width: 90%;
  margin: 0 auto;
}

.track__cover--interactive:hover {
  background-color: grey;
  opacity: 0.2;
  cursor: pointer;
}

.track-info__title {
  margin: 0;
  color: #000000;
}

.track--playing .track-info__title {
  color: #1b86f9;
}

.layout-night .track-info__title {
  color: #ffffff;
}

.layout-night .track--playing .track-info__title {
  color: #1b86f9;
}

.track-info__author {
  text-decoration: none;
  color: rgb(96, 96, 96);
}

.layout-night .track-info__author {
  color: #c8cadc;
}

.track-info__author:hover {
  color: black;
}

.layout-night .track-info__author:hover {
  color: #ffffff;
}

.track__explicit {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  color: black;
  font-size: 12px;
}

@media only screen and (min-width: 600px) {
  .track__controls {
    display: block;
  }
}
