{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["react", "jsx-a11y", "import", "cypress"],
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "plugin:cypress/recommended"],
  "rules": {
    "no-unused-vars": "warn",
    "comma-dangle": 0,
    "arrow-body-style": 0,

    "react/jsx-filename-extension": 0,
    "jsx-a11y/anchor-is-valid": [
      "off",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ]
  }
}
