.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 60px;
  flex: 0 0 auto;
  padding: 0 10px;
  align-items: center;
}

.search {
  flex: 1 0 auto;
  width: 1px;
}

.search__wrapper {
  position: relative;
}

.search__icon {
  position: absolute;
  left: 15px;
  top: 12px;
  color: #2dd760;
}

.search__input {
  width: 100%;
  outline: none;
  border-radius: 40px;
  padding: 10px 20px 10px 40px;
  font-size: 1rem;
  border: none;
}

.search__input:focus {
  border-color: #5c5c5c;
}

.layout-night .search__input {
  background-color: #242133;
  color: white;
}

.menu__nav {
  padding: 20px 30px 0 30px;
  overflow-y: auto;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item {
  margin: 0 0 20px 0;
  padding: 0;
  color: #9c9cab;
}

.menu__link {
  display: block;
  text-decoration: none;
  color: #9c9cab;
  width: 100%;
}

.menu__link:hover {
  color: #ffffff;
}

.menu__link--sub {
  font-size: 1em;
  padding: 5px 0;
}

.menu__info {
  text-align: right;
}

.menu__user--footer {
  margin-bottom: 60px;
}

.menu__profile {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
}

.menu__username {
  display: none;
}

.menu__user--collapse .menu__nav--user {
  display: none;
}

.menu__user--active .menu__nav--user {
  display: block;
  position: fixed;
  right: 30px;
  top: 70px;
  width: 180px;
  color: white;
  background-color: #ffffff;
  padding: 10px;
  opacity: 1;
  z-index: 4;
  visibility: visible;
  border-radius: 5px;
}

.layout-night .menu__user--active .menu__nav--user {
  background-color: #1b1730;
}

.menu__user--footer .menu__nav--user {
  bottom: 70px;
}

.menu__nav--user .menu__link--sub {
  text-align: center;
}

.menu__user .menu__item {
  width: 100%;
  margin: 0 0 5px 0;
  text-align: center;
  border-radius: 5px;
}

.menu__user .menu__item:hover {
  background-color: rgba(111, 111, 111, 0.1);
}

.menu__item .btn {
  color: #b3b3b3;
}

.menu__item .btn:hover {
  color: #2dd760;
}

@media only screen and (min-width: 600px) {
  .menu__heading {
    text-align: center;
  }

  .menu__btn,
  .menu__toggle {
    display: none;
  }
}
