.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
  width: 60px;
  height: 100vh;
  flex: 0 0 auto;
  background-color: #151728;
}

.menu {
  display: flex;
  position: fixed;
  flex-flow: column nowrap;
  height: 100%;
  width: inherit;
  z-index: 4;
  background-color: #151728;
  transition: 0.3s;
}

.menu-active {
  width: 200px;
}

.menu__heading {
  height: 68px;
  margin: 0 0 0 0;
  text-align: center;
  color: white;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: 4px;
  white-space: nowrap;
}

.menu-active .menu__heading {
  text-align: center;
}

.overlay {
  opacity: 0;
}

/* Hamburger style menu */
.menu__toggle {
  width: 100%;
  height: 100%;
  padding: 8px 0 0 0;
}

.menu-active .menu__toggle {
  padding: 10px 0 0 0;
}

.menu__bar {
  display: block;
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 0 auto 6px auto;
  transition: 0.4s;
  border-radius: 3px;
}

.menu-active .menu__bar--1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
  transform: rotate(-45deg) translate(-5px, 4px);
}

.menu-active .menu__bar--2 {
  opacity: 0;
}

.menu-active .menu__bar--3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Flip site logo on collaspe menu */
@media only screen and (max-width: 600px) {
  .menu-collapse .menu__heading {
    display: flex;
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    transform-origin: bottom;
    align-items: center;
    margin: -60px 0 0 0;
  }

  .menu .menu__nav {
    opacity: 0;
  }

  .menu-collapse .menu__nav {
    visibility: hidden;
  }

  .menu-active .menu__nav {
    opacity: 1;
  }

  .menu-active .menu__heading {
    margin-top: 0;
  }

  .overlay--active {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 3;
    transition: 0.3s;
    background-color: rgba(36, 39, 59, 0.8);
  }
}

.menu__nav {
  padding: 20px 30px 0 30px;
  overflow-y: auto;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item {
  margin: 0 0 20px 0;
  padding: 0;
  color: #9c9cab;
}

.menu__link {
  display: block;
  text-decoration: none;
  color: #9c9cab;
  width: 100%;
}

.menu__link:hover {
  color: #ffffff;
}

.menu__link--sub {
  font-size: 1em;
  padding: 5px 0;
}

.menu__user {
  bottom: 0;
  margin-top: auto;
}

.menu__user--footer {
  margin-bottom: 60px;
}

.menu__info {
}

.menu__profile {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
}

.menu__username {
  display: none;
}

.menu__user--collapse .menu__nav--user {
  display: none;
}

.menu__user--active .menu__nav--user {
  display: block;
  position: fixed;
  left: 70px;
  bottom: 10px;
  width: 180px;
  color: white;
  background-color: #151728;
  padding: 10px;
  opacity: 1;
  z-index: 4;
  visibility: visible;
  border-radius: 5px;
}

.menu__user--footer .menu__nav--user {
  bottom: 70px;
}

.menu__user .menu__item {
  width: 100%;
  margin: 0 0 5px 0;
  text-align: center;
  border-radius: 5px;
}

.menu__user .menu__item:hover {
  background-color: rgba(111, 111, 111, 0.1);
}

.layout-night .menu__user .menu__item:hover {
  /* background-color: rgba(140, 140, 140, 0.1); */
}

.menu__item .btn {
  color: #9c9cab;
}

.menu__item .btn:hover {
  color: white;
}

@media only screen and (min-width: 600px) {
  .page-header {
    width: 200px;
  }

  .menu__heading {
    text-align: center;
  }

  .menu__btn,
  .menu__toggle {
    display: none;
  }

  .menu__user--active .menu__nav--user {
    left: 210px;
  }
}
