.audio {
  display: none;
}

.player {
  width: 100%;
  margin: auto 0;
}

.player--footer {
  display: flex;
  flex-flow: row nowrap;
  z-index: 8;
  width: 100%;
  height: 80px;
  padding: 10px 15px;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 3px 2px 25px -8px rgb(195 191 191);
}

.layout-night .player--footer {
  background-color: #3c3755;
  box-shadow: none;
}

.player__info {
  width: 100%;
  text-align: center;
}

.player--footer .player__info {
  flex: 0 1 auto;
  display: flex;
  flex-flow: row nowrap;
  text-align: left;
  width: 100px;
  margin-right: 20px;
}

.player__image {
  display: block;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
}

.player--footer .player__image {
  flex: 0 1 auto;
  height: 100%;
  width: auto;
  margin: 0 5px 0 0;
}

.player__track {
  margin: auto 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.player__title {
  display: block;
  font-size: 1.2em;
}

.player--footer .player__title {
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
}

.layout-night .player--footer .player__title {
  color: #ffffff;
}

.player__author {
  font-size: 1em;
  text-decoration: none;
  color: #000;
}

.player__author:hover {
  color: #2dd760;
}

.player--footer .player__author {
  font-size: 0.9em;
}

.layout-night .player__author {
  color: white;
}

.player__options {
  width: 100%;
  text-align: center;
}

.player--footer .player__options {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 0 auto;
  text-align: left;
  width: auto;
  align-items: center;
}

.player--footer .player__stack {
  flex: 1 0 auto;
}

.player__controls {
}

.player--footer .player__controls {
  text-align: center;
  color: black;
}

.player__control {
  font-size: 1em;
}

.player--footer .player__control-group {
  display: inline-block;
}

.player__control--medium {
  font-size: 1.5em;
}

.player__control--large {
  font-size: 2em;
}

.player__control--highlight {
  color: #1b86f9;
}

.player--footer .player__control--large,
.player--footer .player__control--medium {
  font-size: 1em;
}

.player__duration {
}

.player--footer .player__duration {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row nowrap;
}

.player__timeline {
  display: block;
  cursor: pointer; /* Needed to make mobile work with onclick */
  width: 80%;
  margin: 0 auto;
}

.player--footer .player__timeline {
  width: 95%;
}

.player__time {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  width: 80%;
}

.player--footer .player__time {
  width: 95%;
  font-size: 10px;
}

.player__time-left {
  text-align: left;
  flex: 1 0 auto;
}

.player__time-right {
  text-align: right;
  flex: 1 0 auto;
}

.player--footer .player__time-left,
.player--footer .player__time-right {
  color: #303030;
  margin: 0 10px;
}

.layout-night .player--footer .player__time-left,
.layout-night .player--footer .player__time-right {
  color: #efefef;
}

.player__volume {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  width: 80%;
}

.player--footer .player__volume {
  display: none;
  height: 100%;
  flex: 0 1 auto;
  margin: auto 0;
  width: auto;
}

.player__mute {
  flex: 0 1 auto;
  margin: 0;
}

.player__volume-bar {
  flex: 1 0 auto;
}

.player--footer .btn--media {
  color: #303030;
  font-size: 1.2rem;
  width: 50px;
  height: 50px;
}

.layout-night .player--footer .btn--media {
  color: #ffffff;
}

@media only screen and (min-width: 600px) {
  .player__options {
    margin: auto 0;
  }

  .player--full {
    padding: 0 10px;
  }

  .player--full .player__info {
    width: auto;
    flex: 0 1 auto;
  }

  .player--full .player__options {
    width: auto;
    flex: 1 0 auto;
  }
}

@media only screen and (min-width: 800px) {
  .player {
    display: flex;
  }

  .player--footer .player__volume {
    display: flex;
  }

  .player--footer .player__info {
    width: 200px;
  }
}
