.chart {
  margin: 1em 0 0 0;
}

.chart__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 0 0 auto;
  text-align: center;
  margin: 1em 0;
}

.chart__heading {
  margin: 0;
  font-size: 1.3em;
}

.chart-filter {
  position: relative;
  margin: auto;
  width: 100px;
  text-align: left;
}

.chart-filter__active {
  background-color: blue;
}

.chart-filter:after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  /* top: 50%; */
  top: -2px;
  right: 15px;
  float: left;
  box-shadow: -2px 2px 0.4px black;
  transform: rotate(315deg);
  /* margin: -3px; */
  /* border-width: 6px 6px 0 6px;
  border-color: black transparent;
  border-style: solid; */
}

.chart-filter__active:after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  /* top: 50%; */
  top: 4px;
  right: 15px;
  float: left;
  box-shadow: -2px 2px 0.4px black;
  transform: rotate(225deg);
}

.filter__current {
  font-size: 1.3em;
}

.filter-list {
  display: none;
  position: absolute;
  height: 100px;
  width: 100px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: auto;
}

.chart-filter__active .filter-list {
  display: block;
  background-color: pink;
}

.filter-list__item {
  text-align: center;
}

.filter-list__item a {
  color: white;
  text-decoration: none;
}

.track-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.track-list__item {
  margin: 10px 0;
  border-bottom: solid 1px rgb(96, 96, 96);
  margin: 0 0.8em;
  padding: 5px 0;
  background-color: white;
}

.track-list__item:hover {
  background-color: #dfdfdf;
  background-color: rgba(174, 174, 174, 0.1);
}

.chart-list__empty {
  text-align: center;
}

.layout-night .track-list__item {
  background-color: #151728;
}

.layout-night .track-list__item:hover {
  background-color: #dfdfdf;
  background-color: rgba(174, 174, 174, 0.1);
}

@media only screen and (min-width: 600px) {
  .chart {
    margin: 1em 1em 0 1em;
  }
}
