{
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "no-unused-vars": "warn",
    "comma-dangle": 0,
    "arrow-body-style": ["none", "as-needed"]
  }
}
